@charset "utf-8";
/* CSS Document */

.vname {
  font-size: 20px;
  font-weight: bold;
}

body {
  padding: 0px;
  margin: 0px;
}

.container {
  padding-top: 30px;
}

strong th{
	font-weight: 100;
}