@charset "UTF-8";
/* CSS Document */

.line{
	width: 100%;
	border-top: 2.5px solid #343a40;
}

.text-area-game{
	overflow: auto;
	height: 540px;
	padding: 10px;
	color: #343a40;
}


    canvas {
      width: 700px;
	  height: 480px;
    }